<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">


  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./static/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./static/assets/favicon-16x16.png">
  <link rel="manifest" href="./static/assets/site.webmanifest">
  <link href="./static/assets/favicon.ico" rel="icon">
  <link href="./static/main.3f6952e4.css" rel="stylesheet">

    <title>{% block title %}{% endblock %} - My portfolio</title>
    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}

    {% block content %}{% endblock %}

        {% block footer %}
            <div id="footer">
<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Dmytro Koltsuk | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>

</footer>
             </div>

        {% endblock %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>
</html>